<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="meta">
            <p>
                {{comment_text}}
                <br />
                <br />
                {{user.username}} · <small>{{format_posted_date created_at}}</small>
            </p>
        </div>
    </section>
{{/each}}
</div>
