{{!-- <div class="column">
    <h2 class="title pb-4">Create new account:</h2>
    <hr>
    <form class="signup-form">
        <div>
            <label for="input-username">Username:</label>
            <input type="text" id="input-username" />
        </div>
        <div>
            <label for="input-password">Password:</label>
            <input type="password" id="input-password" />
        </div>
        <div>
            <button type="submit" class="button is-primary">Signup</button>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script> --}}